.main_content {
  width: 98%;
  height: 97%;
  position: absolute;
  transform: tranlsate( 0%, 0% );
}

.main_table {
  width: 100%;
  height: 100%;
  position: absolute;
}

.main_table_r {
  height: 100%;
  width: 100%;
  position: absolute;
}

.main_table_sidebar {
  height: 100%;
  width: 15%;
  position: absolute;
  border: 1px solid black;
}

.main_content_table {
  width: 100%;
  height: 100%;
}

.main_table_content {
  height: 100%;
  width: 85%;
  transform: translateX( 17.647% );
  position: absolute;
}

.table_top_row {
  height: 15%;
  width: 100%;
  position: absolute;
}

.table_top_cell {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 1px solid black;
}

.main_view_top_div {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.table_bottom_panel {
  height: 85%;
  width: 100%;
  position: absolute;
  transform: translateY( 17.647% );
}

.table_bottom_cell {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 1px solid black;
  overflow: scroll;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.device_sidebar_row {
  display: block;
  margin: 2px auto 2px auto;
}

.device_sidebar_name {
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 4px 0px 4px 0px;
  width: 70%;
}

.sidebar_row_selected {
  background-color: #CCCCCC;
}

.delete_device_button {
  width: 25%;
}

.new_device_row {
  display: block;
  margin: 5px auto 5px auto;
}

.new_device_name {
  width: 75%;
}

.new_device_button {
  width: 20%;
}

.main_view_device_json {
}

.device_view_header {
  background-color: #CCCCCC !important;
  font-weight: bold;
}

.device_periph_header {
  background-color: #CCCCCC !important;
  font-weight: bold;
}

.device_interrupt_header {
  background-color: #CCCCCC !important;
  font-weight: bold;
}

.device_register_header {
  background-color: #CCCCCC !important;
  font-weight: bold;
}

.lg_indent_once {
  padding-left: 25px;
}

.lg_indent_twice {
  padding-left: 40px;
}

.lg_indent_thrice {
  padding-left: 60px;
}

.lg_indent_quad {
  padding-left: 80px;
}

.lg_indent_fifth {
  padding-left: 100px;
}

.device_grid_notice {
  text-align: center;
  padding: 3px 0px 7px 0px;
}

.hoverable_element {
  padding: 3px;
  border: 2px solid blue;
}

.device_basics_table {
  width: 100%;
  margin-bottom: 3px;
}

.device_grid_basics_cell {
  width: 33%;
}

.device_grid_attr {
  font-weight: bold;
  font-size: 16px;
}

.device_grid_banner {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-top: 1px solid grey;
}

.device_periph_banner {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-top: 1px solid grey;
  padding: 5px 0px 5px 0px;
}

.device_grid_periph_container {
  display: flow;
  text-align: center;
}

.device_grid_periph_button {
  margin: 0px 2px 5px 2px !important;
}

.device_grid_periph_collapse {
}

.device_grid_periph_table {
  border-collapse: separate;
  border-spacing: 0px 10px;
  overflow: scroll;
}

.device_grid_periph_tr {
}

.device_grid_periph_td {
}

.device_grid_periph_td_name {
  text-align: center;
  font-weight: bold;
  padding: 0px 4px 0px 4px;
  border: 2px solid blue;
}

.device_grid_regbits_table {
}

.device_grid_regbits_trh {
  font-weight: bold;
}

.device_grid_regbits_tr {
}

.device_grid_reg_bit_td {
  text-align: center;
  padding: 0px 2px 0px 2px;
  border: 1px solid grey;
}

.device_grid_reg_desc_td {
  text-align: center;
  padding: 0px 2px 0px 2px;
  border: 2px solid blue;
}

.device_grid_reg_desc_reserved {
  text-align: center;
  color: red;
  padding: 0px 2px 0px 2px;
  border: 2px solid blue;
}
